---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background-image: url("/images/BackgroundTiledProgressive.jpg");
  background-repeat: repeat;
  background-color: $background;
  font: 18px/1.4 $serif;
  color: $darkGray;
}

button-center {
  align-items: center;
  text-align: center;
}

.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.BelegarthButton {
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:sansSerif;
	font-size:26px;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
.BelegarthButton:hover {
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color: #634b30;
	color: black;
}
.BelegarthButton:active {
	position:relative;
	top:1px;
}


.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sansSerif;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
  text-shadow: $white 5px 5px 5px, $white -5px -5px 5px;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.flexfill {
    flex: 1;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;
  position: relative;
  
  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  width: 90%;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $sansSerif;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  text-align: center;
  margin: -5px 0 0 0;
  color: $white;
  font-size: 36px;
  font-family: $fancy;
  letter-spacing: 2px;
  text-shadow: 0 0 5px $black;
  filter: drop-shadow(0 0 5px $black);
  @include mobile {
    margin: 3px 0;
    font-size: 24px;
  }
}


/* nav {
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $sansSerif;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  .menu {
    display: flex;
    @include mobile {
      margin: 0;
      padding: 0;
    }
  }

  li.menuitem {
    display: inline-block;
  }

  .menu .selected {
    text-decoration: underline;
  }
  
  .navbar {
		float: right;
		margin-right: -15px;
		font-family: 'Helvetica Rounded', Arial, sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 38px;
		text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
	
		.navbar-nav li a {
			color: #b2bbbd;
		}
		.navbar-nav li a:hover,
		.navbar-nav li a:focus {
			color: #ffffff;
			border-bottom: 2px solid #ffffff;
		}
		.navbar-nav .active a {
			color: #ffffff;
			border-bottom: 2px solid #ffffff;
		}
		.navbar-nav .dropdown-menu li a {
			color: #515151;
			text-shadow: none;
		}
	}
  
  a {
    color: $darkGray;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      color: $blue;
    }
  }
} */

#navbar {
/*     float: right; /* seems to do same thing as navbar ul li float left
    position: fixed;
    top: 0;
    width: 100%;
    background-color: gray; */
	margin-top: 23px; // @TODO: Vertically middle align
	font-family: $sansSerif;
	font-size: 18px;
	
	.menu {
		display: flex;
		@include mobile {
		  margin: 0;
		  padding: 0;
		}
	}
	.menu .selected {
		text-decoration: underline;
  }
}

#navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    float: left;
}

#navbar ul li {
    float: left;
}


#navbar ul li a, .dropdown-toggle {
    color: $darkGray;
    text-align: center; /*doesn't seem to do anything*/
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
	font-weight: 300;
    letter-spacing: 1px;
/* 	color: $darkGray;
    font-weight: 300;
    letter-spacing: 1px; */
}

#navbar ul li a:hover, .dropdown:hover .dropdown-toggle {
    background-color: $lightGray;
	color: black;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #7d5d3b; /* black; */
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#navbar .ddm a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.ddm {
    display: block;
}

.dropdown-content a:hover {background-color: white;}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* additional styles */

#navbar .dropdown-menu li {
    float: none;
}


.language-picker {
  right: 20px;
  position: absolute;
  
  ul {
    margin: 0;
    
    li {
      display: inline-block;
    }
  }
}

.en:lang(en), .de:lang(de) {
    font-weight: bold;
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// TABLES

.cell-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: 2px;
  border-style: solid;
}

.table-cell-margin {
  margin-left: 10px;
  margin-right: 10px;
}

@import "menu";

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
